@using BullsAndCows.Data.Models;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<BullsAndCowsUser> SignInManager
@inject UserManager<BullsAndCowsUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4 mb-3">
            Welcome, <span class="text-primary">@User.Identity.Name</span>!
        </h1>
        <p class="lead font-italic" style="font-size: 2rem;">Want to play?</p>
        <a class="btn btn-lg btn-primary px-4" asp-controller="Game" asp-action="Index">Start a game</a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4 mb-5">
            Welcome!
        </h1>
        <p class="lead font-italic" style="font-size: 2rem;">Create an account, in order to play the game.</p>
    </div>
}

