@using BullsAndCows.Data.Models;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<BullsAndCowsUser> SignInManager
@inject UserManager<BullsAndCowsUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item pl-md-0 pl-sm-3 pl-1">
        <a class="nav-link text-dark font-weight-bold" asp-controller="User" asp-action="Profile">My Profile</a>
    </li>
    <li class="nav-item pr-md-3 pl-md-0 pl-sm-3 pl-1">
        <a class="nav-link text-dark font-weight-bold" asp-controller="User" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item pl-md-0 pl-sm-3 pl-1">
        <a class="nav-link text-dark mr-4 font-weight-bold" asp-controller="User" asp-action="Login">Login</a>
    </li>
    <li class="nav-item pr-md-3 pl-md-0 pl-sm-3 pl-1">
        <a class="nav-link text-dark font-weight-bold" asp-controller="User" asp-action="Register">Register</a>
    </li>
}